body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-start-screen, .game-play-screen, #loading-screen {
    width: 80%;
    height: 500px;
    position: relative;
    background-color: #f5f5dc;
    border: 2px solid #8b4513;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* プログレスバー */
.progress-container {
    width: 80%;
    height: 10px;
    background-color: #ccc;
    margin-top: 10px;
}
.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
}
